---

//レイアウト
import BaseLayout from '../layouts/BaseLayout.astro';

//コンポーネント


//メタデータ
const metaData = {
	title: 'わたしについて',
	description: 'わたしについての説明文',
}

---
<BaseLayout metaData={metaData}>
	<p>これはindex.astroからslotを使って差し込んでいるよ</p>
</BaseLayout>