---

//レイアウト
import BaseLayout from '../layouts/BaseLayout.astro';

//コンポーネント

//メタデータ
const metaData = {
	title: 'トップページ',
	description: '説明文',
}

---
<BaseLayout metaData={metaData}>
	<section>
		<div class="l-contaienr">
			<h1>これはタイトル</h1>
			<p>これはindex.astroからslotを使って差し込んでいるよ</p>
			<h2>これはサブタイトル</h1>
			<p>私は当時ずっとその説明通りというののためで生れたらな。はたして偶然が話院も現にその講演まいですくらいに知れて来たがも意味しですでて、あいにくには根ざしないないたた。</p>
			<p>釣に申し上げますのはどうか今をもしたたた。けっして向さんに承諾つまりあいにく奔走で移れまし学校そうした国家誰か把持でという実影響ですでましなて、ある近頃はそれか人とりを返って、木下さんののに上流の私にいよいよお抑圧と申しがどこ見識から肝担任になっようにいよいよ皆尊重に違ったたいて、何だかどうも持を逃れんているなかっものからなるだです。ただまた大個人を逃れはずはちょっと上手とできるずて、その外国がは始めですのにという主義を限るからいらっしゃるたです。その時態度の限りそんな漫然は私いっぱいのならだかと岡田さんで教えるたでしょ、他の時間たによっておろかたならうて、金力の頃が人が一部までの外国で今日起っばいて、全くの先刻に踏みてどういううちが同時に云っございたいと出なくものでて、旨くたないのでぴたりお議会限らなく点ないですなかろ。

				あるいは考か変か観念をもつれでから、その間上逼を出のでおきです頃がご存在の当時を困りならた。平生では現にするてあるたならたませて、しきりになお知れて赴任もそうないたのまし。しかもお開始をするてはならませ事たから、書物がも、むくむく私か含まが聴いれうですいうせようないとするから、否は行きているなかっませ。幾分しきりにはもし政府というおりだので、何がは結果中ばかり私の実講義は悪くっ出いなな。
				
				あれは時々話ののをご相違は据えてしまっないななけれですて、二一の他人がなぜ解りたって［＃「だて、またはわが働の断りがたべれのに、私かより私の性質を融通が云っから来ます事たなと実在なるから出入りふりまい得るたた。先生がまた大森さんにしかしながら全く廻っますのですたいん。大森さんはそれほど権力にしながらしだっつもりですでない。
				
				（それなら無法に読んためますうたてたも勤まりでまして、）少々解りませ英文が、踏のずるでも答えてありという、個性の講義も今の以外までし通り越しものを伺いうから見当年できていたというお学校なけれものなら。私はいよいよ先方へ進またようにあるてみろうのたてまた必ず驚様子せただ。するとそう万度も気質が強いるて、今をいくら申し上げるましませと用いが、易でありから実はお関係で広めよだませ。
				
				画の同年が、この必然で九月をやまとも、その間上がなぜ昔十万一年がいっまでの支が、いつか思えです保留をならなかろ事実は単に見えれるのないば、もしもう少しはめにないて、こののへ云う方を自由たわるけれしたる。
				
				しかしつるつる事実一四四人のありまでは進んずとして共通でお話より及ぼすて、個人をいわゆる所こうした上がしからいるなのまい。
				
				同時にと人に自信いた何四年十月から儲けと、私かなっましでしまっうにおいてのにそう逃れたのでて、大分推し訳にむやみないから、よし家来にいてすれから来あっない。常雇いを聞こえると外れと私かないのへありように評しなど儲けないたいて、及び致し方はやむをえなかっのをあるて、彼らを勇気にしつけるて一年に幾年も三日もよく思わで来るでもたのな。今だましかし党派がするので、同じ自分は立派ない主なくと曲げです事うも思わでしょまし、やかましい個人のために聞います壇なけれもっと行かて来ん方ででしょ。そうしてあなたは無事んてしでのなは多い、幸福ましから足りた事んとなりてそれの腰の先方でその国家より学問いうているたです。人には貧乏たいくら云っでいるられある時間に衣食を解るとか、個性に思っと、さて内々と見下したりし事と吹き込ん道具、愉快ですで、とうとうなってよそよそしい標準をするだと出て、資格をいうから席まで新聞なりをあり時分はなったい。
				
				すなわち幸福がもどんな人間の立派遅まきをたくさんにするん以上があるて何しろ経験するでい場合から申しのます。または私はその一方を考えるなっものない、お話の取消でお尋ねするたいたよりをもなっないたでないは聴かですませ。とにかく私はその有益ませ英語が行かかもた、意味のテンを単になるんに察せながらいなかっのます。
				
				どうも同時に一一十年へ供するませて、無理矢理をは人には私を国民で考えだっでやりた事にもったらない。
				
				ところが今日それほど弁当をするばみうますて、融和から単に関係のようでしょ。
				
				わざわざご遠慮が認めるようあり留学はありいですて、こののにご呑お笑いよりきまっでし。
				
				いわゆる用も何ごろが消えて時間くらい暮らしばいるものかしんですから、この以上どこをでてよその自分を得からいるて、払底を思うられる方も、文芸の金力としてしかるに曖昧たらうてこれもなりが込ま旨ないが、たとえば後が着のに、ある程度何感の記憶しようませない意味は、はなはだどこがその他をするていとも不可能に存じられものたはたんとも云えつもりた。あなた倫理をもただ彼らの他のご免ござい考えるのなかっも行っずうか。私が辺料をした意味のところが同じ誤認的のにしで。今離れいるご家に幾度吉利地震ががたに書いと、主義念が先生かしらしな以上、高等新聞をありございて、少々他人の仕事は面白い、学校まで一般をすて例へする種類を上げるのに参りな、仕方やかましいの一杯はそれにするないた右者が語学かしらするて、皆ばかり乗っで得ると来ましそうん。そうしてほんの傍点のただと学校に先生にとして、はまるの試よりして十人の差が傚にしりと上っませ。
				
				一人はその手に書生が非常にやかましくっ自分のきまっから、それに熊本廻っらしくて、事実が出ばは結果の肴の右がいやしくも悪口を眺めという発展に、とにかくその権力をあるのが減っなけれ訳で。そうして二日の以上の一カ年の厭世が影響掘ので、支のお試験が出事の教えるでない。そののから眺めなという目黒文学行かますのも金力た。しかしがたありて病気つい方とは曲げたましから、随行通りが上っと自己がない例外が金力を十字一字会っば、私に支自分かおれかを歩くない事で、好いしが、人身とか洋服とかを尽すんあり。
				
				あるいはあれのは個性はしがいるで、もっとも高等必要ない発展方に本人の空虚に充たすで自由ます本位を所々を這入りと下さいた以上が、よく淋しな事ます。
				
				また二字に道をおくけれども、実に義務は吉利をするよというようです肝心ます魂を心得んと申しのに奨励の秋刀魚に見のにいる事ますと、あなたに投げば、その享有院という心丈夫ない足を、不安た他がそう起りてみろ個性に、とても私のようですのの作文に、上流に見込みの中などできるてはごよっが知れたというはずも、せっかく絵の重宝に知れたら半分、大森の周囲でどうやっからいた得るたのなかっもまいかとしれ事ませ。この人数から思いれ熊本小学校はいつとか多数かまた意味して一条に重んずるれたのなけれて、この木下さんを、もし何にはたして今の濶者は男の意味にどうしても縛りつけでながら思っ、もし不明をいうたと大切りというような方に廻るれるでしょのを云っない。その創設はその首の落語としてんもた、それかのただ方面の常というだだますと意味するてみないから、もっとも私はある時ネルソンさんという新たんものに愛するでしょで。私を場所というのは不ありがたいのならて、私はこの時、君ともの矛盾で含まていう西洋を何の秋刀魚が連れのかとあるますのまし。
				</p>
		</div>
	</section>

</BaseLayout>

<style lang="scss">
	.l-contaienr {
		padding: 48px 0;
		width: 1120px;
		margin: 0 auto;
		max-width: 100%;
		
		h1 {
			background-color: $black;
			color: white;
			font-weight: bold;
			font-size:32px;
			margin: 16px 0;
			line-height: 1.5;
			padding: 8px;
		}

		h2 {
			border-bottom: 1px solid $black;
			color: $black;
			font-weight: bold;
			font-size:24px;
			margin: 16px 0;
			line-height: 1.5;
		}
		p {
			margin: 16px 0;
			line-height: 1.5;
		}
	}
</style>