---

---

<footer>
    <p>これはフッターです</p>
</footer>

<style lang="scss">

    footer {
        background-color: $black;
        color: white;
        padding: 48px; 
        text-align: center;
    
    }
</style>