---
import GlobalNavigation from "./GlobalNavigation.astro";

---
<header>
    <h1>ロゴ</h1>
    <GlobalNavigation />
</header>

<style lang="scss">

    header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 24px 0;
        background-color: white;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        align-items: center;
        h1 {
            font-weight: bold;
            font-size: 24px;
        }
    }

    

</style>