---

//コンポーネント
import Header from '../components/Header.astro';
import GlobalNavigation from '../components/GlobalNavigation.astro';
import Footer from '../components/Footer.astro';
import Offer from '../components/Offer.astro';

//css
import "the-new-css-reset";

//メタデータ
const { metaData = {} } = Astro.props;

---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        
        <title>{metaData.title}</title>
        <meta name="description" content={metaData.description} />
		
	</head>
	<body>
		<Header />
		<slot />
		<!-- <Offer /> -->
		<Footer />
	</body>
</html>